h3 {
    float: left;
}

svg {
    float: left;
}

.clear {
    clear: both;
}

.animatedLoad {
    stroke-dasharray: 1000;
    animation: loader 5s linear forwards;
}

@keyframes loader {
    to {
        stroke-dashoffset: 0;
    }
}

.animatedRotate {
    animation: spin 20s linear infinite, circleColor 1s linear infinite;
    transform-origin: center;
}

.animatedColor {
    animation: textColor 4s linear infinite;
}

@-webkit-keyframes textColor {
    0% { color: #f1c40f;}
    50% { color: #e67e22;}
    100% { color: #f1c40f;}
}

@-webkit-keyframes circleColor {
    0% { fill: #f1c40f; stroke:#f1c40f;}
    50% { fill: #e67e22; stroke:#e67e22;}
    100% { fill: #f1c40f; stroke:#f1c40f;}
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.sunImg {
    position: relative;
    top: 80px;
    right: 210px;
}

.sunText {
    position: relative;
    left: 130px;
    font-size: 35px;
    font-weight: bold;
}

@keyframes rubberBand {
    40% {transform: scale(1.1, 0.7);}
    60% {transform: scale(0.8,1.1);}
    70% {transform: scale(1.1, 0.7);}
    80% {transform: scale(0.8, 1.1);}
    90% {transform: scale(1, 1);}
}

.animatedSlideLeft {
    animation: slideInLeft 1s linear;
}

.animatedRubberBand {
    animation: rubberBand 1s forwards;
}

@keyframes slideInLeft {
    from {transform: translateX(-300px);}
}
